.popup {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.popup__content {
  display: flex;
  margin: 0 auto;
  margin-top: 100px;
  justify-content: center;
}

.popup__body {
  display: flex;
  width: 920px;
  height: 610px;
  background: #fff;
  border-radius: 20px;
}

.popup__close button {
  background: none;
  border: none;
}

.popup_img {
  margin: 76px 44px 76px 38px;
  position: relative;
  z-index: 10;
  width: 458px;
  height: 458px;
  border: 1px dotted #a7a7a7;
  border-radius: 50%;
  background-color: transparent;
}

.popup_img > img {
  position: absolute;
  z-index: 1;
  left: 55px;
  top: 48px;
  width: 372px;
  height: 372px;
}

.popup_choice {
  margin: 0 auto;
  width: 320px;
}

.popup_choice > h2 {
  margin-top: 30px;
}

.popup__ingredients_text {
  margin-top: 11px;
}

.popup__ingredients_text > div {
  display: inline-block;
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #4d4d4d;
}

.ingredient_for_delete::after {
  margin-left: 3px;
  display: inline-block;
  content: url("../../img/popup/delete.svg");
  width: 14px;
  height: 14px;
  border: 0.5px solid #727171;
  border-radius: 50%;
  text-align: center;
  line-height: 12px;
}

.ingredient_for_delete > span {
  display: inline-block;
  border-bottom: 1px dashed #72788b;
}

.ingredient_for_back > span {
  display: inline-block;
  text-decoration: line-through;
}

.ingredient_for_back::after {
  margin-left: 3px;
  display: inline-block;
  content: url("../../img/popup/back.svg");
  width: 14px;
  height: 14px;
  border: 0.5px solid #727171;
  border-radius: 50%;
  text-align: center;
  line-height: 12px;
}

.popup__radio_size {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f3f3f7;
  border-radius: 100px;
  width: 320px;
  height: 32px;
}

.popup__radio_size input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.popup__radio_size input[type="radio"]:checked + label {
  background: #fff;
  box-shadow: 0px 3px 15px rgba(6, 5, 50, 0.05);
  border-radius: 100px;
  width: 104px;
  height: 28px;
}

.popup__radio_size > label {
  z-index: 2;
  position: relative;
  cursor: pointer;
  user-select: contain;
  line-height: 2.2;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}
